<link rel="stylesheet" href="/styles/event.css" />
<link
  rel="preconnect"
  href="https://fonts.googleapis.com"
/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
        .menuIconImg{
    width: 15px;
    filter: brightness(0) invert(1);}

        .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#imageModal{
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.391);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgaeModal_block{
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 0 auto;
  position: relative;
}
#modalImage{
width: 100%;
    height: 100%;}
#div_x{
  display: flex;
  flex-direction: column;
  height: 500px;
}
#closeModal{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: -10px;
}

#closeModal>span{

}
</style>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Exo&display=swap"
  rel="stylesheet"
/>

<div id="events" style="display: flex;">
    <div class="modal"><img src="/icon/icons8-verified-48.png" alt=""><span class="modalText"></span></div>

  <div class="eventMainBody">
    <div class="eventHead">
      <div class="eventHeadFirstPart">
        <p><a href="/">Главная</a>
          &gt;
          <a href="/admin/profile/events">События</a>
          &gt;
          <a id="changeNavText">Все событии</a></p>
      </div>
    </div>
    <div id="allEvMainDiv">
      <div class="allEvBox" style="width: 50%;" >
        <div id="allEvBox_header">
          <h4>События</h4>
          {{#if (eq (getValue event "status") 2)}}
          <form
            action="/admin/profile/event/edit/{{getValue event "_id"}}"
            method="POST" id="eventForm">
            <input name="status" hidden value="1" />
            <button type="button" class="buttonAllow" id="eevntForm" onclick="buttonFunc()">Одобрить</button>
          </form>         
          {{else}}
            <span >Одобрено</span>
          {{/if}}
        </div>
        <hr />
        <div class="allEvBoxCont">
          <div id="pics1">
            {{#if images}}
              {{#each images}}
                <div class="changeEvDiv" style="background-image: url('/{{name}}')" onclick="openImageModal('{{name}}')">
                    <img src="/images/pics/GroupX.svg"  class="removeButton" onclick="removeimage(this)" attr_id="{{_id}}">
                </div>
              {{/each}}
            {{/if}}
          </div>
          <div class="allEvBoxContDiv" style="overflow-y: auto; padding:5px" >
            <div id="boxPersonName">
              <h6>{{getValue event "name"}}</h6>
              <div id="emotions">
                <div onclick="wereGoingToCome()">
                  <img src="/images/pics/walking 1.svg" />
                  <a>{{participants}}</a>
                </div>
                <div>
                  <img src="/images/pics/Vector 80.svg" />
                  {{favorites}}
                </div>
                <div>
                  <img src="/images/pics/Vector(30).svg" />
                  {{likes}}
                </div>
                <div>
                  <img src="/images/pics/Vector (20).svg" />
                  {{views}}
                </div>
              </div>
            </div>

            <div id="boxCatalog">
              <p>{{category}}</p>
              <a href="#" onclick="createClients()">Пришли на событие:
                {{participants}}</a>
            </div>
            <div id="boxDescription">
              <p>
                <span>Описание </span>{{description}}</p>
            </div>
            <p class="boxP"><span>Дата:</span> {{started_time}}</p>
            <p class="boxP"><span>Телефон:</span> {{phone_number}}</p>
            <p class="boxP"><span>Веб сайт:</span> {{website_link}}</p>
            <p class="boxP boxPflex">
              <span>Место прохождения:</span>
              <a id="addressLine">{{address}}</a>
            </p>
            <p></p>
            <p class="boxP">
              <span>Ссылка на билеты:</span>
              <a>
                {{getValue event "tickets_link"}}
              </a>
            </p>
            <p class="boxP">
              <span class="biggerLetter">Почему я должен посетить?</span><br />
              {{getValue event "description_visit"}}
            </p>
          </div>
        </div>
      </div>
      <div class="allEvBox" style="width: 50%;">
        <p id="deniedP">Причина отклонения События</p>
        <hr />
        <div id="fillResponseMessage">{{getValue event "rejectMessage"}}</div>
      </div>
    </div>
  </div>
</div>
<script src="/js/axios.js"></script>
      <div id="imageModal" style="display: none;">
           <div class="imgaeModal_block">
                <button id="closeModal" onclick="closeFunc()" >
                x
              </button>
              <div id="div_x">
                <img id="modalImage"  src="" />
              </div>
           </div>
      </div>
<script>
      const imgModal=document.getElementById('modalImage')

  function openImageModal(path){
    imgModal.src=`/${path}`
    const imageModal=document.getElementById('imageModal')
    imageModal.style.display='flex'
    imageModal.style.position='absolute'
    imageModal.style.margin='0 auto'
  }

  function closeFunc(e){
          const imageModal=document.getElementById('imageModal')
        imageModal.style.display='none'
  }
   function buttonFunc() {
    const modal=document.querySelector('.modal');
  modal.style.display = 'flex';
 
    setTimeout(() => {
      const form = document.getElementById('eventForm');
      form.submit(); 
    }, 1000); 
  }
  //const geoCordLatit = "{{event.latitude}}"; const geoCordLotit = "{{event.longitude}}";
  //const geoPath =
  //`https://api.geoapify.com/v1/geocode/reverse?lat=${geoCordLatit}&lon=${geoCordLotit}&apiKey=5d33a1ddd9db4ee8862f3de928c21e89`;
  //axios.get(geoPath).then((d)=>{ const al =
  //document.getElementById('addressLine'); al.innerHTML =
  //d.data.features[0].properties.address_line2 })
</script>
<script src="/js/helper.js"></script>