<link rel="stylesheet" href="/styles/event.css" /><link
  rel="preconnect"
  href="https://fonts.googleapis.com"
/>
<style>
        .menuIconImg{
    width: 15px;
    filter: brightness(0) invert(1);}
    #imageModal{
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.391);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgaeModal_block{
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 0 auto;
  position: relative;
}
#modalImage{
width: 100%;
    height: 100%;}
#div_x{
  display: flex;
  flex-direction: column;
  height: 500px;
}
#closeModal{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: -10px;
    cursor: pointer;
}

.removeButton{
  width: 20px;
  height: 20px;
}

.service_img_div{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
</style>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Exo&display=swap"
  rel="stylesheet"
/>

<div id="events" style="display: flex;">
    <div class="modal"><img src="/icon/icons8-verified-48.png" alt=""><span class="modalText"></span></div>

  <div class="eventMainBody">
    <div class="eventHead">
      <div class="eventHeadFirstPart">
        <p><a href="/">Главная</a>
          &gt;
          <a href="/admin/profile/events">Встречи</a>
          &gt;
          <a id="changeNavText">Все Встречи</a></p>
      </div>
    </div>
    <div id="allEvMainDiv">
      <div class="allEvBox" style="width: 50%;">
        <div id="allEvBox_header">
          <h4>Встречa</h4>
          <form
            action="/admin/profile/meet/resolve/{{getValue event "_id" }}"
            method="POST"
           id="eventForm">
            <input name="status" hidden value="1" />
            <button type="button" class="buttonAllow" onclick="buttonFunc()">Одобрить</button>
          </form>
        </div>

        <hr />
        <div class="allEvBoxCont">
          <div id="pics1">
                    {{!-- {{#if event}} --}}
                   {{#optionsFromArrays images "_id" "path"}}
                                 <div class="changeEvDiv" style="padding:2px;cursor:pointer;background-image: url('/{{url}}')" onclick="openImageModal('{{url}}')">
                                   <svg onclick="removeimage(this)" attr_id="{{value}}" class="removeButton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" fill="white"/></svg>
                                 </div>
                   {{/optionsFromArrays}}
                    {{!-- {{/if}} --}}
            {{! <img src="/images/pics/image 32.svg" class="allEvImg" />
            <img src="/images/pics/image 32 (1).svg" class="allEvImg" /> }}
          </div>
          <div class="allEvBoxContDiv" style="margin: 5px;width:98%">
            <div id="boxPersonName">
              <h6>{{getValue event "purpose"}}</h6>
              <div id="emotions">
                <div onclick="wereGoingToCome()">
                  <img src="/images/pics/walking 1.svg" />
                  <a>{{participants}}</a>
                </div>
                <div>
                  <img src="/images/pics/Vector 80.svg" />
                  {{favorit}}
                </div>
                <div>
                  <img src="/images/pics/Vector(30).svg" />
                  {{likes}}
                </div>
                <div>
                  <img src="/images/pics/Vector (20).svg" />
                  {{view}}
                </div>
              </div>
            </div>

            <div id="boxCatalog">
              {{!-- <p>{{event.category.name}}</p> --}}
              <a href="#" onclick="createClients()">Пришли на событие:
                {{participants}}</a>
            </div>
            <div id="boxDescription">
              <p>
                {{!-- <span>Описание </span>{{getValue event "description"}}</p> --}}
            </div>
            <p class="boxP"><span>Дата:</span> {{getValue event "date"}}</p>
            {{!-- <p class="boxP"><span>Время:</span> 18:30</p> --}}
            {{!-- <p class="boxP"><span>Телефон:</span>{{event.user.phone_number}}</p> --}}
            {{!-- <p class="boxP"><span>Веб сайт:</span> {{getValue event "ticket"}}</p> --}}
            <p class="boxP boxPflex">
              <span>Место прохождения:</span>
              <a id="addressLine">{{getValue event "address"}}</a>
              {{! <img
                src="/images/pics/locationIcon.svg"
                style="cursor: pointer"
              /> }}
            </p>
            <p></p>
            <p class="boxP">
              <span>Ссылка на билеты:</span>
              <a>
                {{getValue event "ticket"}}
              </a>
            </p>
            <p class="boxP">
              <span class="biggerLetter">Почему я должен посетить?</span><br />
              {{getValue event "description"}}
            </p>
          </div>
        </div>
      </div>
      <div class="allEvBox" style="width: 50%;">
        <p id="deniedP">Причина отклонения Встречa</p>
        <hr />
        <div id="fillResponseMessage">{{getValue event "statusMeeting"}}</div>
      </div>
    </div>
  </div>
</div>
<script src="/js/axios.js"></script>
      <div id="imageModal" style="display: none;">
           <div class="imgaeModal_block">
                <button id="closeModal" onclick="closeFunc()" >
                x
              </button>
              <div id="div_x">
                <img id="modalImage"  src="" />
              </div>
           </div>
      </div>
<script>
   function buttonFunc() {
    const modal=document.querySelector('.modal');
  modal.style.display = 'flex';
 
    setTimeout(() => {
      const form = document.getElementById('eventForm'); 
      form.submit(); 
    }, 1000); 
  }

        function removeimage(el){
        let id = el.getAttribute('attr_id');
        el.parentNode.remove()
         axios.delete(`/admin/profile/meet/image/${id}`).then((d)=>{
          
        })
      }




     document.querySelectorAll('.img_service').forEach(el => {
      el.addEventListener('click', (e)=>{
       if(e.target.localName!=="path"){
         const imageModal=document.getElementById('imageModal')
         imageModal.style.display='flex'
         imageModal.style.position='absolute'
         imageModal.style.margin='0 auto'
       }
     }) 
     })

    document.querySelectorAll('.user_image').forEach(el => {
      el.addEventListener('click', (e)=>{
       if(e.target.localName!=="path"){
         const imageModal=document.getElementById('imageModal')
         imageModal.style.display='flex'
         imageModal.style.position='absolute'
         imageModal.style.margin='0 auto'
       }
     }) 
     })



      document.querySelectorAll('.changeEvDiv').forEach(el=>{
        el.addEventListener('click', (e)=>{
       if(e.target.localName!=="path"){
         const imageModal=document.getElementById('imageModal')
         imageModal.style.display='flex'
         imageModal.style.position='absolute'
         imageModal.style.margin='0 auto'
       }
     }) 
      })

  function openImageModal(path){
    const imgModal=document.getElementById('modalImage')
    imgModal.src=`/${path}`
  }

  function closeFunc(e){
          const imageModal=document.getElementById('imageModal')
        imageModal.style.display='none'
  }
  //const geoCordLatit = "{{event.latitude}}"; const geoCordLotit = "{{event.longitude}}";
  //const geoPath =
  //`https://api.geoapify.com/v1/geocode/reverse?lat=${geoCordLatit}&lon=${geoCordLotit}&apiKey=5d33a1ddd9db4ee8862f3de928c21e89`;
  //axios.get(geoPath).then((d)=>{ const al =
  //document.getElementById('addressLine'); al.innerHTML =
  //d.data.features[0].properties.address_line2 })
</script>
<script src="/js/helper.js"></script>