<link rel="stylesheet" href="/styles/company.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    #imageModal{
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.391);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgaeModal_block{
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 0 auto;
  position: relative;
}
#modalImage{
width: 100%;
    height: 100%;}
#div_x{
  display: flex;
  flex-direction: column;
  height: 500px;
}
#closeModal{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: -10px;
    cursor: pointer;
}

.removeButton{
  width: 20px;
  height: 20px;
}

.service_img_div{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
</style>
<div id="events" class="max-height-auto" style="display: flex">
    <div class="modal"><img src="/icon/icons8-verified-48.png" alt=""><span class="modalText"></span></div>

  <div class="eventMainBody">
    <div class="eventHead">
      <div class="eventHeadFirstPart">
        <p>
        </p>
      </div>
    </div>

    <div id="eventBody">
      <div id="changeEvMainDiv">
        <div id="changeEvMainDivContainer1">
          <div id="changeEvBox_header">
            <h4></h4>

            <div id="allowDiv">
              <button
                class="buttonAllow whiteBtn"
                onclick="toggleModal('denyDiv','block')"
              >
                Отклонить
              </button>
              <form action="/admin/profile/meeting/verify/resolve/{{getValue event "_id"}}"
              method="POST" enctype="multipart/form-data" id="eventForm">
              <button type="button" class="buttonAllow" onclick="buttonFunc()">
                {{#if (getValue event "status")}}Изменить{{else}}Одобрить{{/if}}
              </button>
            </div>
          </div>
        </div>
        <hr />

        <div id="changeEvMainDivContainer2">
          <div class="changeEvBox">
            <div class="userDiv">
              <img src="/{{getValue userMeet "avatar"}}" alt=""
              class="user_image" style="cursor: pointer;" onclick="openImageModal('{{getValue userMeet "avatar"}}')"/>
              <div class="userData">
                <p class="userName">
                  {{getValue userMeet "name"}} {{getValue userMeet "surname"}}
                </p>
                <p class="user_data">{{getValue userMeet "phone_number"}}</p>
                <p class="user_data">{{getValue userMeet "email"}}</p>
              </div>
              {{meetVerify}}
            </div>

            <div class="changeEvBoxCont">
              <input type="text" class="inputAllow" placeholder="Категория" value="{{getValue event "name"}} {{getValue event "surname"}}  {{getValue event "family"}}" name="{{getValue event "name"}}">
              <br><span>Паспортный код</span>
              <input type="text" class="inputAllow" placeholder="Название событий" value="{{getValue event 'passport'}}" name="{{getValue event "name"}}"><br>
              <span>Срок Паспорт</span>
               <input type="text" class="inputAllow" placeholder="Категория" value="{{getValue event "term"}}" name="name"><br/>
              <div>
                <div class="mapIcon_div">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.5 1.20781C5.22408 1.20781 1.79375 4.59711 1.79375 8.69967C1.79375 9.94188 2.21668 11.4224 2.93743 13.0131C3.65119 14.5884 4.61723 16.1859 5.61147 17.6382C7.21473 19.9801 8.84763 21.8817 9.5 22.6174C10.1524 21.8817 11.7853 19.9801 13.3885 17.6382C14.3828 16.1859 15.3488 14.5884 16.0626 13.0131C16.7833 11.4224 17.2063 9.94188 17.2063 8.69967C17.2062 4.5971 13.7759 1.20781 9.5 1.20781ZM9.78643 22.9357L9.78639 22.9357L9.78643 22.9357ZM9.5 14.2728C6.39416 14.2728 3.81909 11.8011 3.81909 8.69967C3.81909 5.59818 6.39423 3.1266 9.5 3.1266C12.6058 3.1266 15.1809 5.59826 15.1809 8.69971C15.1809 11.8012 12.6058 14.2728 9.5 14.2728ZM0.59375 8.69967C0.59375 3.90697 4.58907 0.0078125 9.5 0.0078125C14.4109 0.0078125 18.4062 3.90697 18.4062 8.69967C18.4062 14.6475 10.436 23.3794 10.0967 23.7482C9.77853 24.094 9.22204 24.0947 8.90331 23.7482C8.56397 23.3794 0.59375 14.6475 0.59375 8.69967ZM5.01909 8.69967C5.01909 11.111 7.02919 13.0728 9.5 13.0728C11.9708 13.0728 13.9809 11.1111 13.9809 8.69971C13.9809 6.28837 11.9708 4.3266 9.5 4.3266C7.02924 4.3266 5.01909 6.28832 5.01909 8.69967Z"
                      fill="#00ADA6"
                    />
                  </svg>
                </div>
              </div>
              <br />
              <div id="pics1">
              </div>
              <br />
            </div>
          </div>
          <div class="images-div">
          <img src="/{{getValue event "passportImage"}}" alt="" id="passport"  data-bs-toggle="modal" data-bs-target="#largeModal">
          <img src="/{{getValue event "image"}}" alt="" id="passport"  data-bs-toggle="modal" data-bs-target="#largeModal">
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  id="denyDiv"
  style="
    width: 100%;
    height: 870px;
    background: #12121255;
    position: absolute;
    display: none;
  "
>
  <div id="denyDivChild">
    <form action="/admin/profile/meeting/verify/reject/{{getValue event "_id"}}" method="POST">
      <div id="denyDivCont1">
        <p>Причина отклонения События</p>
        <img
          src="/images/pics/GroupX.svg"
          onclick="toggleModal('denyDiv','flex')"
        />
      </div>
      <div id="denyDivCont2">
        <textarea
          id="denyTextarea"
          cols="20"
          rows="10"
          placeholder="Причина"
          name="status"
        ></textarea>
        <button>Отправить</button>
      </div>
    </form>
  </div>
 
</div>
      <div id="imageModal" style="display: none;">
           <div class="imgaeModal_block">
                <button id="closeModal" onclick="closeFunc()" >
                x
              </button>
              <div id="div_x">
                <img id="modalImage"  src="" />
              </div>
           </div>
      </div>
<script src="../../public/js/axios.js"></script>
<script>
  //const geoCordLatit = {{getNestedValue event "latitude"}};
  //const geoCordLotit = {{getNestedValue event "longitude"}};
  //const geoPath = `https://api.geoapify.com/v1/geocode/reverse?lat=${geoCordLatit}&lon=${geoCordLotit}&apiKey=5d33a1ddd9db4ee8862f3de928c21e89`;
  // axios.get(geoPath).then((d)=>{
  //  const al = document.getElementById('addressLine');
  //  al.innerHTML = d.data.features[0].properties.address_line2
  //})

          function removeimage(el){
        let id = el.getAttribute('attr_id');
        el.parentNode.remove()
         axios.delete(`/admin/profile/meet/image/${id}`).then((d)=>{
          
        })
      }



  

  function openImageModal(path){
    const imgModal=document.getElementById('modalImage')
    imgModal.src=`/${path}`
             const imageModal=document.getElementById('imageModal')
         imageModal.style.display='flex'
         imageModal.style.position='absolute'
         imageModal.style.margin='0 auto'
  }

  function closeFunc(e){
          const imageModal=document.getElementById('imageModal')
        imageModal.style.display='none'
  }

document.querySelectorAll('img').forEach(img => {
      img.addEventListener('contextmenu', (e) => {
          e.preventDefault(); 
      });
  });




document.addEventListener("DOMContentLoaded", () => {
    const modalImage = document.querySelector(".passport_modal");
    const modalTitle = document.getElementById("largeModalLabel");
    const images = document.querySelectorAll(".images-div img");
    
    images.forEach(img => {
        img.addEventListener("click", () => {
            const src = img.getAttribute("src");
            modalImage.setAttribute("src", src);
            modalTitle.innerText = "Просмотр изображения"; // Change title if needed
        });
    });
});

  

 

  const data = {
    title: "My Handlebars Image",
    imageSrc: "../../pubimglic/styles/fonts/phoneVector.png",
    altText: "Descriptive text for the image",
  };

   function buttonFunc() {
    const modal=document.querySelector('.modal');
  modal.style.display = 'flex';
 
    setTimeout(() => {
      const form = document.getElementById('eventForm'); 
      form.submit(); 
    }, 1000); 
  }

  const source = document.getElementById("template").innerHTML;
  const template = Handlebars.compile(source);

  const html = template(data);

  document.getElementById("content").innerHTML = html;
</script>
<script src="../../public/js/helper.js"></script>


<div class="modal fade" id="largeModal" tabindex="-1" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg my_modal"> 
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Large Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="/{{getValue event "passportImage"}}" alt=""  class="passport_modal">
            </div>
        </div>
    </div>
</div>