<link rel="stylesheet" href="/styles/NotificationArxiv.css" />
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
></script>

<div class="Header2">
  <header class="Header22">
    <div class="createNotification">
      <div class="eventHeadFirstPart">
        <p><a href="/">Главная</a> &gt; <a href="/api/report">Жалоба</a></p>
      </div>
    </div>
  </header>
  <div class="notificationArea">
    <table id="table">
      <thead>
        <tr>
          <th class="td1" style="padding: 11px 8px; text-align: center">
            №
          </th>
          <th class="td1">Имя</th>
          <th class="td1">Фамилия</th>
          <th class="td1">Номер телефона</th>
          <th class="td1">Сообщение</th>
          <th class="td1">Подробнее</th>
        </tr>
      </thead>
      <tbody>
        {{#report
          datas
          "_id"
          "name"
          "surname"
          "phone_number"
          "text"
          "report_type"
          "event_comment"
          "event_impression"
          "meeting_comment"
          "meeting_impression"
          "company_comment"
          "company_impression"
          "event"
          "company"
          "meeting"
        }}
          <tr>
            <td class="td0">{{index}}</td>
            <td class="td1">{{name}}</td>
            <td class="td2">{{surname}}</td>
            <td class="td3">{{phone_number}}</td>
            <td class="td4">{{text}}</td>
            <td class="td5">
              {{#if event}}
                <a
                  href="/admin/profile/event/show/{{event}}"
                  style="display: flex;align-items: center;justify-content: center;"
                >
                  <img
                    src="/images/pics/Vector 202.svg"
                    style="width: 15px; height: 16px; cursor: pointer;"
                  />
                </a>
              {{/if}}
              {{#if company}}
                <a
                  href="/admin/profile/company/show/{{company}}"
                  style="display: flex;align-items: center;justify-content: center;"
                >
                  <img
                    src="/images/pics/Vector 202.svg"
                    style="width: 15px; height: 16px; cursor: pointer;"
                  />
                </a>
              {{/if}}
              {{#if meeting}}
                <a
                  href="/admin/profile/meet/show/{{meeting}}"
                  style="display: flex;align-items: center;justify-content: center;"
                >
                  <img
                    src="/images/pics/Vector 202.svg"
                    style="width: 15px; height: 16px; cursor: pointer;"
                  />
                </a>
              {{/if}}

            </td>
          </tr>
        {{/report}}

      </tbody>

    </table>
  </div>
  <div class="notificationFooter">
    <div class="notificationFooter1">
      <div class="notificationFooter2">
        <p>
          <a href="/admin/profile/notification" class="createNot">Создание
            уведомлений</a>
        </p>
        <div class="gic"></div>
        <p>
          <a href="/admin/profile/notification/categories" class="newType">Новые
            категории</a>
        </p>
        <div class="gic"></div>
        <p>
          <a
            href="/admin/profile/notification/feedback"
            class="contact"
          >Обратная связь</a>
        </p>
      </div>
    </div>
  </div>
</div>